/*
body {
  background-color: rgba(33,60,70,1);
  color: rgba(202,202,222,1);
}

input {
  background-color: rgba(33,60,70,1);
  color: rgba(202,202,202,1);
}
*/

/*
.table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > th {
  background-color: rgba(33,60,70,1);
  color: rgba(222,222,232,1);
}
.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgba(49,76,86,1);
}
*/

.rapida-btn-primary {
  background-color: #AB3E0C;
  color: #EEEEEE;
  font-weight: bold;
}
.rapida-btn-default {
  background-color: #FFFFFF;
  color: #333333;
}

.rapida-light > td,
.rapida-light {
  background-color: #FFFFFF;
  color: #AB3E0C;
}

.rapida-xx-small {
  font-size: xx-small;
}

.rapida-clip {
  background-color: white;
  color: black;
}

.rapida-text-dim {
  font-family: arial;
  color: #757575;
}

.rapida-disclaimer {
  background-color: #AB3E0C;
  color: #EEEEEE;
  border: 2px dotted #EEEEEE;
}

.topright {
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
}
.copyhilite {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid lightblue;
}
#copyon:hover ~ #copyarea > .copyhilite {
  border: 1px solid rgba(84,241,254,1);
  box-shadow:0 0 40px rgba(107,243,254,1);
}
