<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- build:js js/vendor.js -->
<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/angular-route/angular-route.min.js"></script>
<script src="../node_modules/ui-select/dist/select.min.js"></script>
<script src="../node_modules/clipboard/dist/clipboard.min.js"></script>
<script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<!-- endbuild -->
<!-- build:css css/vendor.css -->
<link rel="stylesheet" href="../node_modules/bootstrap-css-only/css/bootstrap.min.css">
<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../node_modules/ui-select/dist/select.min.css">
<!-- endbuild -->

<script src="js/utils.js"></script>
<script src="js/koulutusluokitus.controller.js"></script>

<!-- dev --><link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"><!-- enddev -->
<!-- mustache <link rel="stylesheet" href="css/fonts.css"> end mustache -->
<link rel="stylesheet" href="css/rapida.css">
<link rel="stylesheet" href="css/main.css">

<title>Koulutusluokitus</title>
</head>
<body>
<div data-ng-app="koodiApp" data-ng-controller="koodiController" class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-sm-12">
      <div class="row">
        <div class="col-xs-6">
          <h3>Koulutus-koodisto ja koulutusluokitus Opintopolussa <span class="fa fa-spinner fa-spin" data-ng-show="koodistoLataa"></span></h3>
          <p>
            <a href="https://www.stat.fi/meta/luokitukset/koulutus/versio.html">Virallinen lähde</a>,
            <a href="https://confluence.csc.fi/display/OPHPALV/Koodistopalvelu">tietojen lähde</a>,
            <a href="https://virkailija.opintopolku.fi/koodisto-service/swagger/index.html">tekninen lähde</a>
          </p>
        </div>
        <div class="col-xs-5 rapida-disclaimer">
          <h5 data-ng-click="showdisclaimer=!showdisclaimer" class="text-center">DISCLAIMER</h5>
          <span data-ng-show="showdisclaimer">
            <p>Koulutusluokitus on virallisesti Tilastokeskuksen ylläpitämä luokitus.</p>
            <p>Opetushallituksen Opintopolun koodistopalvelussa koulutusluokituksen avaimeen, koulutuskoodiin, on kytketty myös muita koodistoja, jotka eivät kuulu viralliseen koulutusluokitukseen.</p>
            <p>Tämä sivusto vain näyttää Opintopolun koodistoja, niiden arvoja ja relaatioita keskenään. Sivusto EI ole Tilastokeskuksen tai Opetushallituksen ylläpitämä.</p>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="hidden-xs col-sm-2" data-ng-if="reallyshowkoodi">
          <h5>Koulutuskoodi</h5>
          <span data-ng-repeat="s in sarakkeet | filter:{ ryhma:'perus' }" data-ng-click="useSarakkeet(s)">
            <button data-ng-if="s.nayta" class="btn btn-xs rapida-btn-primary">{{s.selite}}</button>
            <button data-ng-if="!s.nayta" class="btn btn-xs rapida-btn-default">{{s.selite}}</button>
          </span>
        </div>
        <div class="hidden-xs col-sm-2">
          <h5>Opetushallinnon koulutusluokitus 1995 ja 2002</h5>
          <div data-ng-repeat="s in sarakkeet | filter:{ ryhma:'vanha' }" data-ng-click="useSarakkeet(s)" data-ng-if="!s.koodi || (s.koodi && showkoodi)">
            <button data-ng-if="s.nayta" class="btn btn-xs rapida-btn-primary">{{s.selite}}</button>
            <button data-ng-if="!s.nayta" class="btn btn-xs rapida-btn-default">{{s.selite}}</button>
          </div>
        </div>
        <div class="hidden-xs col-sm-2">
          <h5>ISCED 2011</h5>
          <div data-ng-repeat="s in sarakkeet | filter:{ ryhma:'2011' }" data-ng-click="useSarakkeet(s)" data-ng-if="!s.koodi || (s.koodi && showkoodi)">
            <button data-ng-if="s.nayta" class="btn btn-xs rapida-btn-primary">{{s.selite}}</button>
            <button data-ng-if="!s.nayta" class="btn btn-xs rapida-btn-default">{{s.selite}}</button>
          </div>
        </div>
        <div class="hidden-xs col-sm-2">
          <h5>Kansallinen koulutusluokitus 2016</h5>
          <div data-ng-repeat="s in sarakkeet | filter:{ ryhma:'2016' }" data-ng-click="useSarakkeet(s)" data-ng-if="!s.koodi || (s.koodi && showkoodi)">
            <button data-ng-if="s.nayta" class="btn btn-xs rapida-btn-primary">{{s.selite}}</button>
            <button data-ng-if="!s.nayta" class="btn btn-xs rapida-btn-default">{{s.selite}}</button>
          </div>
        </div>
        <div class="hidden-xs col-sm-2">
          <h5>Muut</h5>
          <div data-ng-repeat="s in sarakkeet | filter:{ ryhma:'muut' }" data-ng-click="useSarakkeet(s)" data-ng-if="!s.koodi || (s.koodi && showkoodi)">
            <button data-ng-if="s.nayta" class="btn btn-xs rapida-btn-primary">{{s.selite}}</button>
            <button data-ng-if="!s.nayta" class="btn btn-xs rapida-btn-default">{{s.selite}}</button>
          </div>
        </div>
        <div class="hidden-xs col-sm-2">
          <label title="Tuo esiin koodiarvo-kenttien valinta">Näytä koodit
            <input type="checkbox" ng-model="showkoodi">
          </label>
          <label title="Tuo esiin koodi- ja nimi-kenttien valinta (käytä maltillisesti)">Näytä avaintiedot
            <input type="checkbox" ng-model="reallyshowkoodi">
          </label>
          <label title="Lisää ehto '([1-9]0|0[1-9]|[1-9][1-9])$' koodi-kenttään">Näytä tuplanollat
            <input type="checkbox" ng-model="showdoublezero" data-ng-init="showdoublezero=true" data-ng-change="showdoublezero?search.koodi='':search.koodi='([1-9]0|0[1-9]|[1-9][1-9])$'">
          </label>
          <label title="Lisää ehto '^[^0-9]' loppupvm-kenttään">Näytä päättyneet/-vät
            <input type="checkbox" ng-model="showended" data-ng-init="showended=true" data-ng-change="showended?search.loppupvm='':search.loppupvm='^[^0-9]'">
          </label>
          <label title="Lisää ehto '61|62|91' kansallinenkoulutusluokitus2016koulutusastetaso2koodi-kenttään">Näytä vain ammattikorkeakoulujen arvot
            <input type="checkbox" ng-model="showuascodesonly" data-ng-init="showuascodesonly=false" data-ng-change="showuascodesonly?search.kansallinenkoulutusluokitus2016koulutusastetaso2koodi='61|62|91':search.kansallinenkoulutusluokitus2016koulutusastetaso2koodi=''">
          </label>
          <label title="Lisää ehto '63|72|73|81|82|91' kansallinenkoulutusluokitus2016koulutusastetaso2koodi-kenttään">Näytä vain yliopistojen arvot
            <input type="checkbox" ng-model="showuniversitycodesonly" data-ng-init="showuniversitycodesonly=false" data-ng-change="showuniversitycodesonly?search.kansallinenkoulutusluokitus2016koulutusastetaso2koodi='63|72|73|81|82|91':search.kansallinenkoulutusluokitus2016koulutusastetaso2koodi=''">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="hidden-xs col-sm-1" id="copyon">
        <button class="clip rapida-clip" data-clipboard-target="#copyarea"
          data-popover-trigger="'mouseenter'" data-popover-placement="right" data-uib-popover="Kopioi taulukko leikepöydälle"
          data-popover-class="rapida-clip" data-tooltip-trigger="'focus'" data-tooltip-placement="top" data-uib-tooltip="Kopioitu!"
          data-ng-click="clipcopy=true" data-ng-mouseleave="clipcopy=false">
          <span class="glyphicon glyphicon-copy"></span>
        </button>
      </div>
      <div class="hidden-xs col-sm-11">
        <input type="text" id="copyuri" value="{{baseuri}}{{query||toURIParam(search)?'?':''}}{{query}}{{toURIParam(search)}}" class="col-sm-9 col-lg-8">
        <button class="clip rapida-clip" data-clipboard-target="#copyuri"
          data-popover-trigger="'mouseenter'" data-popover-placement="right" data-uib-popover="Kopioi URI" data-popover-class="rapida-clip"
          data-tooltip-trigger="'focus'" data-tooltip-placement="top" data-uib-tooltip="Kopioitu!" data-tooltip-popup-close-delay="900">
          <span class="glyphicon glyphicon-copy"></span>
        </button>
        <a href="{{baseuri}}{{query||toURIParam(search)?'?':''}}{{query}}{{toURIParam(search)}}"><span class="fa fa-external-link"></span></a>
      </div>
      <!-- ei uutta row:ta, tai edes col:ia jotta taulukko on sisaruksena kopiointipainikkeelle! uusi div tiputtaa uudeksi riviksi -->
      <span id="copyarea"><table width="96%" class="table table-striped table-condensed copyhilite">
      <thead>
        <tr class="rapida-light">
          <th data-ng-hide="clipcopy" class="hidden-xs"><span class="rapida-xx-small">#</span></th>
          <th data-ng-repeat="s in sarakkeet | filter:{nayta:1}" data-ng-click="$parent.koodiOrderReverse=!($parent.koodiOrder==s.a?$parent.koodiOrderReverse:true); $parent.koodiOrder=s.a">
          {{s.selite}}
          <span class="fa fa-sort-down" data-ng-if="$parent.koodiOrder==s.a && !($parent.koodiOrderReverse)"></span>
          <span class="fa fa-sort-up" data-ng-if="$parent.koodiOrder==s.a && ($parent.koodiOrderReverse)"></span>
          </th>
        </tr>
        <tr class="rapida-light" data-ng-hide="clipcopy">
          <td data-ng-hide="clipcopy" class="hidden-xs"></td>
          <td data-ng-repeat="s in sarakkeet | filter:{nayta:1}">
            <input type="text" class="form-control input-sm" data-ng-model="$parent.search[s.a]" data-ng-model-options="{debounce:600}">
          </td>
        </tr>
      </thead>
      <tbody>
        <!-- UNIQUE/DISTINCT/GROUPBY TÄHÄN JOTENKIN -->
        <tr data-ng-repeat="o in koodit | regex:search | orderBy:koodiOrder:koodiOrderReverse track by $index">
          <td data-ng-hide="clipcopy" class="hidden-xs rapida-light"><span class="rapida-xx-small">{{$index+1}}</span></td>
          <td data-ng-repeat="s in sarakkeet | filter:{nayta:1}">{{o[s.a]}}</td>
        </tr>
      </tbody>
      </table></span>
    </div>
  </div>
  <div class="row">
    <div class="hidden-xs col-sm-4 text-left"></div>
    <div class="col-xs-12 col-sm-4 text-center">
      <p class="hidden-sm hidden-md hidden-lg">
        <a href="https://www.stat.fi/meta/luokitukset/koulutus/versio.html">Virallinen lähde</a>,
        <a href="https://confluence.csc.fi/display/OPHPALV/Koodistopalvelu">tietojen lähde</a>,
        <a href="https://virkailija.opintopolku.fi/koodisto-service/swagger/index.html">tekninen lähde</a>
      </p>
      <span class="rapida-text-dim">&copy; 2016,2020 <a href="https://rapida.fi">Rapida Oy</a></span>
    </div>
    <div class="hidden-xs col-sm-4 text-right"></div>
  </div>

  <script src="js/clipboard.js"></script>

</div><!-- /controller & /koodiApp -->
</body>
</html>
